$upcoming_text: #92400f;
$success_text: #03543f;
$failed_text: #981b1c;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  p {
    font-weight: 400;
    font-size: 14;
    line-height: 24px;
    color: #1f2937;
  }
}

label {
  width: 164px;
}

.heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.status-container {
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  width: 72px;
  height: 21px;
  margin-left: 20px;
  border-radius: 20px;
  padding: 4px, 12px, 4px, 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcoming {
  color: $upcoming_text;
  background-color: #fef3c7;
}
.success {
  color: $success_text;
  background-color: #def7ec;
}
.failed {
  color: $failed_text;
  background-color: #fde2e1;
}

.info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e4e7;
  width: 455px;
  height: 35px;
  font-weight: 500;
  color: #4b5563;
  font-size: 14px;
  line-height: 14px;
}

.info_container {
  height: 350.64px;
  width: 455px;
}
