$upcoming_text: #92400f;
$success_text: #03543f;
$failed_text: #981b1c;

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}


.mainTable{
 

  .ant-table{
    border: 1px solid #E4E4E7;
  }
  .ant-table-thead > tr >th{
    background: #F4F5F7;
    border: none;
    height: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #4B5563;
  }
  .ant-table-tbody > tr >td{
    border: none;
    height: 53px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #1F2937;
  }

}



.upcoming_text {
  color: $upcoming_text;
}
.success {
  color: $success_text;
}
.failed_text {
  color: $failed_text;
}