nav{
    width: 100vw;
    height:72px ;
    border-bottom: 1px solid #E5E5E5 ;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 260px;
        height: 40px;
    }
}