$upcoming_text: #92400f;
$success_text: #03543f;
$failed_text: #981b1c;

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upcoming_text {
  color: $upcoming_text;
}
.success_text {
  color: $success_text;
}
.failed_text {
  color: $failed_text;
}

Table {
  width: 960px;
  position:static;
  tr {
    font-weight: 400;
    line-height: 12px;
    font-size: 12px;
  }
}
